.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1488C6;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github
{
  background-color: #F5DEB3;
  color: #E4405F;
}

.weather
{
  background-color: #F5DEB3;
   color: #E50914;
}

.all
{
  background-color: #FFFAFA;
   color: white;
}

.f-head {
  color:#FF0033; 
  line-height:25pt; 
  letter-spacing:0.05cm; 
  text-decoration:overline; 
  text-indent:0.5in; 
  text-transform:capitalize; 
  white-space:normal; 
  word-spacing:0.5em;
  font-size: 65px;
  }

  .f {
  
    font-size: 22px;
    }
